.active-item,
.sidebar-item:hover {
  border-left: 4px solid #1875f0;
  background-color: rgba(24, 117, 240, 0.1);
  cursor: pointer;
}

.slide-in-left {
  animation: slide-left ease-in 1s;
}

@keyframes slide-left {
  0% {
    left: -100%;
  }
  100% {
    left: 0;
  }
}
